@charset "UTF-8";
header{
  position: fixed;
  z-index: 60;
  height: 100vh;
  padding: 1%;
}
#DR_logo{
  margin: 0;
}
#DR_logo img{
  width: 15vw;
  height: auto;
  object-fit: cover;
}
#menu_button{
  position: absolute;
  z-index: 60;
  left: 0;
  top: 50%;
}
#menu_button p{
  color: #000000;
  font-size: 1.4vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  transform: rotate(90deg);
  margin: 0;
}
.header_buy_button{
  position: fixed;
  right: 0;
  top: 0;
  width: 25vw;
  border: 0.3px solid #000000;
  color: #000000;
  font-size: 1.5w;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
  background-color: #ffffff;
  padding: 8px;
  transition: 1s;
}
.header_buy_button:hover{
  background-color: #000000;
  color: #ffffff;
}
